[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/bundle/FlatColor"]
	path = .vim/bundle/FlatColor
	url = https://github.com/MaxSt/FlatColor.git
[submodule ".vim/bundle/vim-lucius"]
	path = .vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule ".vim/bundle/dracula.vim"]
	path = .vim/bundle/dracula.vim
	url = https://github.com/dracula/vim.git
[submodule ".vim/bundle/onedark.vim"]
	path = .vim/bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule ".vim/bundle-extras/vim-misc"]
	path = .vim/bundle-extras/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle-extras/vim-colorscheme-switcher"]
	path = .vim/bundle-extras/vim-colorscheme-switcher
	url = git://github.com/xolox/vim-colorscheme-switcher.git
[submodule ".vim/bundle-extras/vim-colorschemes"]
	path = .vim/bundle-extras/vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
